@charset "UTF-8";

/* CSS Variables */

:root {
    --primary: rgb(0, 0, 0);
    --dark: rgb(255, 255, 255);
    --light: rgb(0, 0, 0);
    --shadow: 0 1px 5px rgba(14, 17, 197, 0.856);
}

.wrapper {
    display: grid;
    gap: 20px;
}

img {
    max-width: 100%;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: rgb(0, 0, 0);
    margin: 30px 50px;
    line-height: 1.4;
}

.main-nav ul {
    display: grid;
    gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: unset;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    border-radius: 17px 5px 17px 5px;
}

.main-nav a:hover {
    /*background: var(--dark);*/
      background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
*/
.main-nav
.home a:hover {
    
}

main h2:hover {
    color: rgba(13, 44, 182, 0.849);
}

/* this creates a circular shape for the image */
img {
    border-radius: 50%;
}

